[submodule "protobufs"]
	path = protobufs
	url = https://github.com/rd2l/protobuf-cpp
[submodule "vendor/cryptopp"]
	path = vendor/cryptopp
	url = https://github.com/weidai11/cryptopp.git
[submodule "vendor/boost"]
	path = vendor/boost
	url = https://gitlab.nanos.io/jc3mp/boost.git
